<td width="10">
    <a id="fuzzy-match" href="#confirmLegalName" role="button" class="btn btn-success" data-toggle="modal" rel="tooltip" data-placement="right" data-original-title="Confirm Match">
        <i class="icon-ok icon-white"></i>
    </a>
</td>
<td><%= externalId %></td>
<td><%= effectivityStart %> - <%= effectivityEnd %></td>
<td><%= legalName %></td>
<td><%= shortName %></td>