<table class="table table-striped table-bordered">
    <thead>
    <tr>
        <th width="20"></th>
        <th width="20"></th>
        <th>External Id</th>
        <th>Effectivity</th>
        <th>Legal Name</th>
        <th>Short Name</th>
    </tr>
    </thead>
    <tbody id="imported-entities">
    </tbody>
</table>