<td><input id="imported-entity" name="<%= currentState %>-entity" type="radio" value="<%= id %>"/></td>
<td>
    <button id="confirmNew" class="btn btn-success" rel="tooltip" data-placement="right" data-original-title="Make this a New Entity" disabled="disabled" data-secure="hasRole(['ROLE1', 'ROLEX'])">
        <i class="icon-plus-sign icon-white"></i>
    </button>
</td>
<td><%= externalId %></td>
<td><%= effectivityStart %> - <%= effectivityEnd %></td>
<td><%= legalName %></td>
<td><%= shortName %></td>