<div class="row-fluid">
    <div class="page-section" data-content="Imported" id="imported">

    </div>
</div>
<div class="row-fluid">
    <div class="page-section" data-content="Existing" id="existing">

    </div>
</div>
