<div class="row-fluid" id="dashboard-items">
    <!--<div id="submission-info" class="span12 page-section" data-content="Submission Info"></div>-->
    <div id="entity-summary" class="span4 page-section" data-content="Entity"></div>
</div>