<div class="row-fluid">
    <div class="span4">
        <div class="container">
            <div class="row"><span class="badge"><%= imported %></span> Imported</div>
            <div class="row"><span class="badge badge-info"><%= matched %></span> <a href="#entity/#matched">Matched</a></div>
            <div class="row"><span class="badge badge-success"><%= confirmed %></span> <a href="#entity/#confirmed">Confirmed</a></div>
            <div class="row"><span class="badge badge-warning"><%= fuzzy %></span> <a href="#entity/#fuzzy">Fuzzy</a></div>
            <div class="row"><span class="badge badge-important"><%= unmatched %></span> <a href="#entity/#unmatched">Unmatched</a></div>
        </div>
    </div>
    <div class="span7">
        <div id="chart" class="pie-chart">
            <div class="container-fluid">
                <div class="row-fluid">&nbsp;
                </div>
                <div class="row-fluid">&nbsp;
                </div>
                <div class="row-fluid">
                    <span class="span9 offset3"><i class="icon-spinner icon-spin icon-2x"></i><small> Loading...</small></span>
                </div>
            </div>
        </div>
    </div>
</div>

<button id="commit" class="btn btn-primary pull-right" type="button">Commit...</button>

