<div class="row-fluid">
    <div class="container">
        <div class="row"><strong><a class="ims" target="ims" href="http://localhost:8080/IMS.web/servlet/Service?TARGET=detail&OPERATION=macro&COLLABORATION=Ims&MACRO_STEP=COLLABORATION=Account|OPERATION=select|SELECT=element|SURROGATE=132553"><%= accountName %></a></strong></div>
        <div class="row"><%= type %>: <%= description %></div>
    </div>
</div>