<ul class="nav nav-pills">
    <li><a href="#entity/#matched"><span id="entityMatchedCount"></span> Matched</a></li>
    <li><a href="#entity/#confirmed"><span id="entityConfirmedCount"></span> Confirmed</a></li>
    <li><a href="#entity/#fuzzy"><span id="entityFuzzyCount"></span> Fuzzy</a></li>
    <li><a href="#entity/#unmatched"><span id="entityUnmatchedCount"></span> Unmatched</a></li>
</ul>
<hr/>