<td>
    <button class="btn btn-danger" rel="tooltip" data-placement="right"
            data-original-title="Move to Unmatched"><i
            class="icon-remove icon-white"></i>
    </button>
</td>
<td></td>
<td>01/01/2010 - ∞</td>
<td>FETCHEL BEVERAGE & SALES, INC</td>
<td>FETCHEL BEVERAGE & SALES, INC</td>